.container{
    width: 90%;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 60px;
}

.title{
    font-size: 48px;
}

.cardsContainer {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); /* Adjust the column width as needed */
    gap: 20px;
}