@import url('https://fonts.cdnfonts.com/css/satoshi');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family:'Satoshi', sans-serif;
}

body{
  width: 100%;
}
.PhoneInput{
  border: 1px solid #888888 !important;
  border-radius: 100px !important;
  padding: 20px !important;
}
.PhoneInputInput{
  outline: none !important;
  border:none !important;
  box-shadow: none !important;
}
